<?xml version="1.0"?>
<launch>
    <node pkg="waypoint_updater" type="waypoint_updater.py" name="waypoint_updater" >
        <param name="lookahead_wps" value="12" />
        <param name="waypoint_update_frequency" value="50" />
        <param name="traffic_light_full_stop_distance" value="2." />
        <param name="traffic_light_over_distance" value="2." />
        <param name="min_traffic_light_stop_seconds" value="5.0" />
        <param name="yellow_light_full_speed_distance" value="10." /> 
        <param name="yellow_light_decel_ratio" value="1.5" />
        <param name="acceleration_start_velocity" value="2" />
        <param name="acceleration_distance" value="25" />
    </node>
</launch>
