<?xml version="1.0"?>
<launch>
    <node pkg="waypoint_updater" type="waypoint_updater.py" name="waypoint_updater" >
        <param name="lookahead_wps" value="10" />
        <param name="waypoint_update_frequency" value="50" />
        <param name="traffic_light_stop_distance" value="12." />
        <param name="traffic_light_lookahead_wps" value="40" />
        <param name="max_deceleration" value="8.5" /> <!-- 8.5m/s^2 is the general limit-->
    </node>
</launch>
