<?xml version="1.0"?>
<launch>
    <node pkg="tl_detector" type="tl_detector.py" name="tl_detector" output="screen" cwd="node">
        <param name="min_positive_score" value="0.5" />
        <param name="state_count_threshold" value="3" />
        <param name="traffic_light_over_waypoints" value="5" />
        <param name="traffic_light_detection_interval" value="0.05" />
    </node>
</launch>
